* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.container{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.title, .subTitle{
  text-align: center;
}
th, td{
  padding: 10px;
}
label{
  margin-right: 20px;
}
button{
  margin-right: 2px;
}